/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 9 de gen. 2025, 9:45:48
    Author     : aula1PTD1
*/
header {
	text-align: center;
	font-size: 30px;
}
section {
	border: gray 2px solid;
	font-size: 20px;
	width: 11%;
	margin: 50px auto;
	padding: 20px;
        text-align: center;
        border-radius: 15px;
}

#paloma {
        border-radius: 8px;
}

h4 {
        text-align: center;
}




